@use "./variables.scss" as *;

// put your custom CSS here!
@font-face {
    font-family: "SCWalla-Regular";
    src: url("/static/fonts/SCWalla-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-variant-alternates: styleset(
    "ss01",
    "ss02",
    "ss03",
    "ss04",
    "ss06",
    "ss07",
    "ss09",
    "ss11",
    "ss14"
    );
    text-rendering: geometricPrecision;
}
@font-face {
    font-family: "SCWalla-MonoRegular";
    src: url("/static/fonts/SCWallaMonoUnlicensedTrial-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    text-rendering: geometricPrecision;
}

.page>#quartz-body .sidebar {
    padding-top: 2rem;
}
.page-header {
    margin-top: 2rem;
}

// Site title

.page-title {
    white-space: nowrap;
    border-right: 3px solid;
    flex: none;
    animation: 2s steps(7, end) typing, .5s step-end infinite alternate blink;
    overflow: hidden;
    width: 7ch !important;
}
@keyframes typing {
    from {
        width: 0
    }
}
@keyframes blink {
    50% {
    border-color: #0000;
    }
}

// Page title
.article-title {
    font-size: clamp(2.5rem, 5vw, 4rem);
    line-height: 1;
    margin-top: 4rem;
}
@media (max-width: 1200px) {
    .article-title {
        margin-top: 2rem;
    }
}
.popover .article-title {
    font-size: clamp(1.75rem, 3vw, 2.5rem);
}

.page {
    max-width: 100%;
    & .center {
        min-width: 0;
        max-width: 100%;
        margin: 0 auto;
        & .page-header {
            max-width: 70ch;
            margin: 2rem auto 4rem;
        }
        & .markdown-rendered {
            max-width: 70ch;
            margin: 0 auto;
            & > *:not(hr, figure){
                max-width: 70ch;
                &:has(img), &:has(iframe), &:has(video)  {
                    max-width: 100%;
                }
            }
        }
        & h2 {
            margin: 3.5rem 0 2.5rem;
            font-size: clamp(1.5rem, 3vw, 2rem);
        }
        & figure[data-rehype-pretty-code-figure] {
            max-width: 100%;
            overflow-x: auto;
        }
        & pre {
            max-width: 100%;
        }


    }
    
    
}

@media (max-width: 1200px) {
    .page {
        & #quartz-body > .center {
            min-width: 0;
            max-width: 100%;
            margin: 0 auto 2rem;
            
            & > * {
                max-width: 100%;
                min-width: auto;
            }
            & .markdown-rendered {
                max-width: 100%;
                & > *:not(hr, figure){
                    max-width: 100%;
                    &:has(img), &:has(iframe), &:has(video)  {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
// LINKS Styling
ul.toc-content.overflow > li > a:hover, .explorer-content ul li>a:hover {
    opacity: 1;

}

a {
    &.internal {
        padding: 0 .25rem;
    }
    &.external {
        & .external-icon > path {
            fill: var(--highlight);
            color: var(--highlight);
        }
    }
}