@use "./variables.scss" as *;

// put your custom CSS here!
@font-face {
    font-family: "SCWalla-Regular";
    src: url("/static/fonts/SCWalla-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-variant-alternates: styleset(
    "ss01",
    "ss02",
    "ss03",
    "ss04",
    "ss06",
    "ss07",
    "ss09",
    "ss11",
    "ss14"
    );
    text-rendering: geometricPrecision;
}
@font-face {
    font-family: "SCWalla-MonoRegular";
    src: url("/static/fonts/SCWallaMonoUnlicensedTrial-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    text-rendering: geometricPrecision;
}
}

.page {
    max-width: 100%;
    & .center, footer>* {
        min-width: auto;
        max-width: 1024px;
        margin: 0 auto;
        & .markdown-rendered > *:not(hr){
            max-width: 70ch;
            &:has(img), &:has(iframe), &:has(video)  {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 1200px) {
    .page .center {
        max-width: 100%;
    }   
}

ul.toc-content.overflow > li > a:hover, .explorer-content ul li>a:hover {
    opacity: 1;

}
